@font-face
  font-family misakiL
  src url(http://static.edgy.black/fonts/k8x12L.ttf)

@font-face
  font-family PixelMplus12
  src url(http://static.edgy.black/fonts/PixelMplus12-Regular.ttf)

@font-face
  font-family PixelMplus12
  font-weight bold
  src url(http://static.edgy.black/fonts/PixelMplus12-Bold.ttf)

.immaterial-design
  font-family PixelMplus12,monospace
  h1
    font-size xx-large
  h2
    font-size x-large
  h3
    font-size large
  h4
    font-size medium
  h5
    font-size small
  h6
    font-size x-small
    
  em
    font-style italic
    
  strong,b
    font-weight bold
  
  > header
  > footer
    font-family misakiL,PixelMplus12,monospace
    font-size xx-large
